<?xml version="1.0"?>
<robot name="stepit" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find stepit_description)/urdf/stepit.xacro" />
  <xacro:include filename="$(find stepit_description)/urdf/stepit.ros2_control.xacro" />

  <link name="world" />

  <xacro:stepit parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:stepit>

  <xacro:stepit_ros2_control name="stepit_ros2_control" />

</robot>
