<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="stepit_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>stepit_control/StepitControl</plugin>
        <param name="use_dummy">true</param>
        <param name="usb_port">/dev/ttyUSB0</param>
        <param name="baud_rate">9600</param>
        <param name="timeout">0.5</param>
      </hardware>
      <joint name="joint1">
        <param name="id">0</param>
        <param name="acceleration">3.14159</param>
        <param name="max_velocity">6.28319</param>
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="joint2">
        <param name="id">1</param>
        <param name="acceleration">3.14159</param>
        <param name="max_velocity">6.28319</param>
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
    </ros2_control>

  </xacro:macro>
</robot>
